*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-weight: 500;
}
:root{
    --bg-color: #fff;
    --text-color: #000;
    --secondary-color: #a09dab;
    --main-color: #f75023;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 16px;
	transition: .3s;
}
header.sticky{
	background: var(--bg-color);
	padding: 13px 10px;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.logo img{
    max-width:100%;
    width:130px;
    height:auto;
}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a {
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding:10px 27px;
}
.navlist a::after{
    content: '';
    position:absolute;
    width:0;
    height:2px;
    background: var(--main-color);
    bottom:-3px;
    left:0;
    transition: ease 0.40s;
}
.navlist a:hover::after{
    width:100%;
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}


section{
    padding:100px 50px 50px 50px ;
}
.home{
    position:relative;
    min-height:100vh;
    height:100%;
    width:100%;
    /* margin:100px; */
    background: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    align-items: center;
    /* margin:auto20px */
}
.profile-content{
    padding-left:100px;
}
.profile-content h1{
    margin:10px 0 25px;
    font-size: var(--big-font);
    line-height:1;
    font-weight:500;
}
.profile-content h5{
    margin-bottom:23px;
    font-size:19px;
    font-weight:500;
}
span{
    color:var(--main-color)
}
.profile-content h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.profile-content p{
    font-size: var(--p-font);
    color: var(--secondary-color);
    line-height: 28px;
    margin-bottom: 20px;
}
.social-media{
    margin-bottom: 12px;
}
.social-media a {
    position:relative;
    width:35px;
    height:35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 103, 240, 1);
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.social-media a:hover{
    transform: scale(1.1);
    transition: 0.2s;
    background: var(--main-color);
    border:2px solid var(--main-color);
    color: var(--bg-color);
}
.cv-link{
	padding: 12px 50px;
    /* margin:160px 0  0 8px; */
	background: transparent;
	border: 2px solid var(--main-color);
	border-radius: 24px;
	color: var(--text-color);
	letter-spacing: 1px;
	font-size:16px;
	font-weight: 500;
	transition: .3s ease;
}
.cv-link:hover{
    transform:scale(1.1);
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
}
.profile-pic img{
    max-width:100%;
    width:540px;
    height:auto;
    object-fit: cover;
    /* filter: drop-shadow(0 0 0.75rem rgb(230, 230, 230)); */
}
.about{
    min-height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
}
.about .img-box{
    margin-right: 24px;
}
.about .img-box img{
	width: 540px;
	height: auto;
}
.about-content h3{
    font-size: 20px;
    font-weight: 500;
    color:var(--main-color)
}
.about-content h2{
    font-size: 2rem;
	font-weight: 500;
	margin: 8px 0px 25px;
	line-height: 1.1;
}
.about-content p{
    font-size: var(--p-font);
    color: var(--secondary-color);
    line-height: 28px;
}
.about-content a{
    display:inline-block;
    margin:25px 0px;
    border:2px solid var(--main-color);
    padding:12px 36px;
    color:var(--text-color)
}
.about-content a:hover{
    background:var(--main-color);
    color:#fff;
    transform: scale(1.1);
    transition:0.3s;
}
.portfolio{
    position:relative;
    min-height:100vh;
}
.portfolio .portfolio-header{
    text-align: center;
}
.portfolio .portfolio-header h3{
    font-weight: 500;
    color:var(--main-color)
}
.portfolio .portfolio-header h2{
    margin: 24px 0;
    font-weight: 500;
}
.portfolio .portfolio-header p{
    color: var(--secondary-color);
    margin-bottom: 48px;
}
.portfolio .card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.service .card-wrapper{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 3rem;
}
.portfolio .card-wrapper .card{
    position:relative;
    width:350px;
    height:450px;
    margin:20px;
    border-radius: 12px;
    overflow: hidden;
}
.portfolio .card-wrapper .card img,
.portfolio .card-wrapper .card .card-content{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
}
.card-content{
    padding-top: 50%;
    border-radius: 12px;
    background: rgba(0,0,0,0.5) ;
    color:#fff;
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
    transition:0.2s;
    bottom:100%;
    opacity: 0;
}
.card:hover .card-content{
    bottom:0;
    opacity: 1;
}
.card-content h3{
    font-size: 24px;
}

.service{
    position:relative;
    min-height: 100vh;
}
.service .service-header{
    text-align: center;
}
.service .service-header h3{
    color:var(--main-color)
}
.service .service-header h2{
    margin:24px 0;
}
.service .service-header p{
    color:var(--secondary-color)
}
.service .card-wrapper{
	grid-template-columns: repeat(auto-fit, minmax(380px, auto));
}
.service .card-wrapper .service-card{
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 12px;
	padding: 45px;
	transition: ease .45s;
	cursor: pointer;
}
.service-card .img-box{
    width:65px;
    height:65px;
}
.service-card  img {
    height: 65px;
    width: 65px;
    padding:12px;
    object-fit: contain;
    background:rgb(164, 211, 252);
    border-radius: 10%;
}
.service-card .service-content h3{
    font-size: 24px;
}
.service-card .service-content h5{
    font-size: 16px;
    margin-bottom:16px;
}
.service-card .service-content p{
    color:var(--secondary-color)
}
.service-card:hover{
    transform:scale(1.05)
}
.my-work .work-header{
    text-align: center;
    font-size: 24px;
    margin-top:-72px;
}
.my-work .work-header h2{
    margin-bottom: 20px;
}
.my-work .card-wrapper{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px,auto));
    grid-gap: 2rem;
}
.my-work .card-wrapper .work-card{
    background:#baebcd;
    padding:50px 40px;
    text-align: center;
    border-radius: 12px;
}
.contact{
    min-height:50vh;
    background-color: #8067f0eb;
    background-image: url(../assets/images/intro.png);
    text-align: center;
    color:#fff;
}
.contact .contact-header h2{
    margin-bottom:24px;
}
.contact .contact-header h3{
    font-size: 36px;
}
.contact .contact-header p{
    margin:12px 0 24px 0;
}
.contact form input {
    width:450px;
    font-size: 16px;
    padding:12px 24px;
    border-radius: 48px;
    border-style: none;
}
.contact form button{
    border-style: none;
    background:var(--main-color);
    /* font-size: 16px; */
    padding:12px 32px;
    margin: 12px;
    color:#fff;
    border-radius: 48px;
}
.contact form button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

@media(max-width: 970px){
    #menu-icon{
        display: block;
        padding-left: 52px;
    }
    .home{
        grid-template-columns: 1fr;
        place-items: center;
        padding-top: 150px;
    }
    .about{
        flex-direction: column;
        min-height: auto;
    }
    .navlist{
        position: absolute;
        top:-600px;
        left:0;
        right:0;
        flex-direction: column;
        background-color: var(--main-color);
        text-align: right;
        transition:all 0.4s;
    }
    .navlist a{
        display: block;
        padding:1.2rem;
        margin:1.5rem;
        text-align: center;
        color:var(--bg-color)
    }
    .navlist a:hover{
        background: var(--bg-color);
        color:var(--main-color);
    }
    .navlist a::after{
        display:none 
    }
    .navlist.active{
        top:100%
    }
    .about .img-box img{
        max-width: 100%;
    }
    .portfolio .card-wrapper .card {
        width: 294px;
        height:370px;
    }
    .contact{
        min-height: auto;
    }

}
@media (max-width:540px){
   
    header .cv-link{
        display: none;
        max-width: 100%;
    }
    section{
        padding:20px;
    }
    .social-media{
        padding-left: 20px;
    }
    .home{
        padding-top:130px;
        /* padding:130px 0 0 0; */
        text-align: center;
    }
    .profile-content{
        padding-left: 0;
    }
    .social-media{
        padding-left:16px;
    }
    .portfolio-header{
        margin:0 16px;
    }
    .profile-content h1{
        font-size: 3rem;
    }
    .about-content{
        margin:16px;
    }
    .about-content h2{
        font-size: 1.5rem;
    }
    .portfolio,
    .contact{
        width:100%;
    }
    .contact form input{
        width:300px;
    }

    .service-card{
        width:320px
    }
    .my-work .work-header{
        font-size: 16px;
    }
}